/* 顶端导航栏 */
.navigate{
    height: 60px;
    background-color: black;
    box-sizing: border-box;/* 解决边框塌陷 */
}
.box{
    display:flex;
    justify-content: flex-end;
    margin:0 auto;
    width: 1240px;
}
.box ul{
    list-style: none;/* 取消列表符号 */
}
.box ul li{
    display:inline-block;/* 使得li横向排列 */
    font-size: 14px;
    margin-top:1px;
    padding:0 10px;
    border-right:1px solid rgb(227, 222, 222);/* 右边框 */
}
.box ul li a{
    text-decoration: none;/* 取消下划线 */
    display:block;/* 使得a标签占满li宽度 */
    color: white;
}
.box ul li a:hover{
    color:rgb(129, 209, 129);/* 鼠标悬停颜色 */
}


/* 头部 */
.header{
    display:flex;
    margin:30px auto;
    width: 1240px;
    box-sizing: border-box;
    justify-content: space-between;
}
/* 导航栏 */
.nav{
    display:flex;
    margin:0 auto;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    font-size: 16px;
    font-weight: 500;
    display:inline-block;
    padding:14px 1px;
    margin:0 26px;
}
.nav ul li a{
    text-decoration: none;
    display: block;
    color:black;
}
.nav ul li a:hover{
    color:rgb(121, 184, 121);
}
/* 搜索框 */
.search{
    display:flex;
    margin:12px auto;
}
.search input{
    border:1.5px solid rgb(222, 222, 222);
    border-radius: 30px;
    height: 40px;
}


/* 模块一 */
.module1{
    display:flex;
    background-color:rgb(231, 229, 229);
    height: 500px;
    justify-content: center;
    box-sizing: border-box;
}
/* 侧边栏 */
.sidebar{
    width: 300px;
    height: 500px;
    background-color: grey;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li{
    display: flex;
    height: 20px;
    padding: 13px 12px 14px 29px;
}
.sidebar ul li a{
    text-decoration: none;
    display: inline;
    color: white;
    font-size:14px;
    height: 20px;
    margin-right: 10px;
}
.sidebar h4{
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    margin: 0 10px 0 0;
}

/* 模块二 */
.module2{
    margin: 0 auto;
    width: 1240px;
    box-sizing: border-box;
}
/* 标题 */
.title{
    height: 102px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.title h3{
    font-size: 30px;
    line-height: 42px;
    margin-right: 35px;
}
.title p{
    color: rgb(163, 160, 160);
    position: relative;
    bottom: -8px;
}
.title a{
    text-decoration: none;
    color: rgb(163, 160, 160);
    position: absolute;
    right: 0;
}
/* 商品区域 */
.product{
    box-sizing: border-box;
    margin-bottom: 60px;
}
.product ul{
    display: flex;
    justify-content: space-between;
    list-style: none;   
    padding-left: 0;
}
.product ul li{
    display: inline-block;
    width: 304px;
    margin-right: 5px;
}
.product ul li img{
    height: 304px;
}
.price{
    height: 100px;
}
.price a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 0 4px;
    color: black;
}
.price p{
    font-size: 16px;
    color: rgb(206, 199, 199);
    padding-bottom: 5px;
    text-align: center;
}


/* 模块三 */
.module3{
    height: 500px;
    background-color: rgb(237, 235, 235);
    box-sizing: border-box;
}
.box2{
    margin:0 auto;
    width: 1240px;
}
/* 标题 */
.box2 .title{
    height: 122px;
}
.jiantou{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 15px;
}
.jiantou p:hover{
    color:white;
}
/* 商品图片 */
.productimg ul{
    display: flex;
    justify-content: space-between;
    list-style: none;   
    padding-left: 0;
}

/* 模块四 */
.module4{
    padding-top: 20px;
    margin:0 auto;
    width: 1240px;
    box-sizing: border-box;
}
/* 标题 */
.module4 .title{
    margin-top: 38px;
    margin-bottom: 22px;
    position: relative;
}
.module4 .title ul{
    display: flex;
    position: absolute;
    right: 125px;
    list-style: none;
}
.module4 .title ul li a {
    position: static; /* 取消定位 */
    right: auto;/* 重置为自动，取消定位效果 */
    display: block;
    height: 22px;
    line-height: 22px;
    color:black;
    padding:0 6px;
    margin-right: 6px;
}
.module4 .title ul li a:hover{
    background-color: rgb(106, 193, 106);
    color: white;
}
/* 生鲜区域 */
.module4 .content{
    display: flex;
    box-sizing: border-box;
}
.module4 .content .left{
    width: 248px;
    height: 610px;
    margin-right: 25px;
}
.module4 .content .right ul{
    display: flex;
    width: 968px;
    height: 610px;  
    flex-wrap: wrap;/* 换行 */
    list-style: none;
    padding: 0;
    margin: 0;
}
.module4 .content .right ul li{
    box-sizing: border-box;
    width: 242px;
    height: 305px;
    padding: 0 26px;
}
.module4 .content .right ul li img{
    width: 190px;
    height: 170px;
    margin:14px 0;
}
.module4 .content .right ul li a{
    display:block;
    width: 192px;
    line-height: 20px;
    text-decoration: none;
    color:black;
}
.module4 .content .right ul li span{
    font-size: 22px;
    line-height: 45px;
    color:rgb(187, 38, 38)
}
.module4 .content .right ul li span i{
    font-size: 16px;
    margin-right: 5px;
    font-style: normal;/* 取消斜体样式 */
}

/* 模块五 */
.module5{
    padding-top: 70px;
    margin:0 auto;
    width: 1240px;
    box-sizing: border-box;
}
/* 专题区域 */
.module5 ul{
    display: flex;
    height: 395px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.module5 ul li img{
    display: block;
    margin-bottom: 24px;
}
.module5 ul li span{
    font-size: 16px;
    color:rgb(155, 148, 148);
    margin-left: 15px;
    margin-right: 5px;
    line-height: 20px;
}

/* 底部 */
.footer{
    height: 582px;
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
}
.box3{
    margin:0 auto;
    width: 1240px;
    box-sizing: border-box;
}
/* 服务 */
.service{
    height: 180px;
    border-bottom: 1px solid rgb(228, 226, 226);
}
.service ul{
    display: flex;
    height: 180px;
    justify-content: space-evenly;/* 使得li均分,所有间距（包括两端）完全一样 */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.service ul li a{
    height: 58px;
    text-decoration: none;
    color: black;
}
.service ul li a h5{
    line-height: 58px;
    font-size: 28px;
}
/* 帮助中心 */
.help{
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    height: 302px;
    box-sizing: border-box;
}
.help dt{
    margin-bottom: 20px;
    font-size: 18px;
}
.help dd{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.help dd a{
    line-height: 32px;
    color: rgb(172, 169, 169);
    text-decoration: none;
}
.help .qrcode ul{
    display: flex;
    justify-content: space-between;
    width: 295px;
    list-style: none;
}
.help .qrcode ul li img{
    margin-bottom: 8px;
}
.help .qrcode ul li p{
    text-align: center;
    color: rgb(172, 169, 169);
    margin: 0;
    padding: 0;
}
/* 版权 */
 .copyright{
    text-align: center;
}
.copyright p a{
    text-decoration: none;
    margin-bottom: 10px;
    color: rgb(172, 169, 169);
    border-right:2px solid rgb(172, 169, 169);
    padding: 0 10px;
    margin-bottom: 10px;
}
.copyright .banquan a{
    border-right: none;
}